// VARIABLES

$gutter: 16px;

// COMPUTED

$gutter-half: $gutter / 2;
$gutter-double: $gutter * 2;
$gutter-quarter: $gutter / 4;
$gutter-quad: $gutter * 4;
$gutter-triple: $gutter * 3;
$gutter-and-half: $gutter * 1.5;
